body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("../images/folk-pattern.png");
}

/* .wallpaper { */
    /* background-image: url("../images/folk-pattern.png");
    background-size: 20%;
} */

#instruction {
    color: rgb(5, 44, 3);
    font-size: 22px;
    background-color: rgb(243, 182, 154);
    width: 50%;
    margin-bottom: 10px;
}
#randomNum {
background-color: green;
font-size: 25px;
color: purple;
width: 20%;
height: 40px;
}
#scoreboard { /*wins/losses board */
    font-size: 15px;
    background-color: turquoise;
    color: black;
    width: 15%;
    margin-left: 189px;
    height: 97px;
}
h1 { /*CrystalsCollector */
    color: white;
    font-size: 40px;
    font-weight: bold;
    background-color: orange;
    width: 30%;
    margin-bottom: 12px;
}
#word-box {
    background-color: teal;
    color: white;
    font-size: 18px;
    width: 30%;
    margin-bottom: 8px;
}
#score {
    background-color: teal;
    color: white;
    font-size: 26px;
    width: 30%;
    height: 50px;
}